html{ 
	background:#7A4E18;
	padding:0;
	margin:0;
}
body{
	padding:0;
	margin:0;
	text-align:left;
	background:#7A4E18 url(../img/bg.jpg) 50% 50% no-repeat;
	font-family:"Myriad Pro Light", "Myriad Pro", arial, sans-serif;
}
#content p {
	margin:0 0 1em 0;
} 
 #tooltip{
	position:absolute;
	display:none;
	left:0;
	top:0;
	padding:5px;
	border:1px solid #000;
	font-size:12px;
	color:#fff;
	border-radius: 7px; 
	background-image:      -o-linear-gradient(top, rgba(0,0,0,0.6), rgba(0,0,0,0.8)); 
	background-image:         linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.8)); 
	z-index:10;
 }
 #content_wrap{
	height:359px;
	width:490px;
	overflow-y:scroll;
	position:relative;
	background:rgba(245,222,130,0.7);
	margin:10px;
 }
 #content_wrap #content{
	position:absolute;
	left:0;
	top:0;
	width:450px;
    padding:10px;
	font:13px/1.4 "Myriad Pro Light", "Myriad Pro", arial, sans-serif;
	color:#000;
 }
 #content_wrap #scroller{
	position:absolute;
	right:10px;
	top:10px;
	width:10px;
	height:50px;
	border-radius: 7px; 
	background-image:      -o-linear-gradient(top, rgba(0,0,0,0.6), rgba(0,0,0,0.8));
	background-image:         linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.8));
	/*-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out; 
	*/
 }
#copy_btn_html,
#copy_btn {
	float:right;
	height:29px;
	margin:0 0 0 10px;
	background-color: #CC0F16;  
	border: 1px solid #CC0F16;  
	color: #fff;
	font: 17px "Myriad pro Semibold", "Myriad pro", sans-serif;
	line-height: 1;
	padding: 2px 20px 3px 20px;
	text-align: center; 
	border-radius:3px 0 0 3px;
	background-image: -o-linear-gradient(top, #b0c43f, #778912);
	background-image: linear-gradient(to bottom, #b0c43f, #778912);
	box-shadow: inset 0px 0 5px 0px #fff; 
	border:1px solid #75880C;
  } 
#copy_btn_html {
	margin:0 10px 0 0;
	border-radius:0 3px 3px 0;
	padding: 2px 10px 3px 10px;
}
hr.sep{
	border:0;
	border-top:1px solid #CCC;
	margin:0 0 5px;
}
#filter_form{
	background:#f8f8f8;
	padding:9px 0 7px;
	position:relative;
	margin:0;
	width:100%;
	height:33px;
	z-index:9;
	background-color: #f1d4b2;
	background-image: -o-linear-gradient(top, #f1d4b2, #caa476);
	background-image: linear-gradient(to bottom, #f1d4b2, #caa476);
	box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.11);
} 
#paragraph_count{
	width:50px;
	border-radius:5px;
	border :1px solid #CCC;
	height:19px; 
}
.logo{
	margin-left:10px;	
}
.logo,
#filter,
#paragraph_count, 
#start_lorem{
	float:left;
	margin-right:5px;
}
.lang_wrap,
.filter_wrap{
	float:left;  
	height:29px;
	width:87px;
	padding:0 20px 0 10px;
	position:relative;
	border-radius:3px;
	background-image: -o-linear-gradient(top, #cfb697, #856641);
	background-image: linear-gradient(to bottom, #cfb697, #856641);
	box-shadow: inset 0px 0 5px 0px #fff; 
	border:1px solid #664929;
	font:  13px/29px "Myriad pro", arial, sans-serif;
	cursor:pointer;
}
.lang_wrap{
    margin-left:10px;
	width: 39px;
}
#paragraph_count{
	float:left;  
	height:29px;
	width:37px;
	padding:0 10px;
	margin-left:5px;
	position:relative;
	border-radius:3px;
	background-image: -o-linear-gradient(top, #cfb697, #856641);
	background-image: linear-gradient(to bottom, #cfb697, #856641);
	box-shadow: inset 0px 0 5px 0px #fff; 
	border:1px solid #664929;
	font:  13px/29px "Myriad pro", arial, sans-serif;
	cursor:pointer;
}
.lang_wrap:after,
.filter_wrap:after{
	content:url(../img/select_arrow.png);
	padding:0 0 0 5px;
	position:absolute;
	right:10px;
	top:0px;
}
.filter_wrap select{ 
	width:86px;
	height:29px;
	padding:0 5px;	
	border:1px solid #664929;
	border-radius:3px;
	box-shadow: inset 0px 0 5px 0px #B38A4C;
}
.lang_wrap ul,
.filter_wrap ul{
	width:100px;
	display:none;
	margin:0;
	padding:3px;
	position:absolute;
	left:0;
	top:28px;
	border-radius:0 0 5px 5px;
	background:#EDCFAB;
	list-style:none;
	box-shadow: 0px 0px 4px 0px #996F3E;
    -webkit-transition: -webkit-transform 0.3s ease-out; 
    -o-transition: -webkit-transform 0.3s ease-out; 
    transition: -webkit-transform 0.3s ease-out;
}
.lang_wrap ul li ,
.filter_wrap ul li {
	padding:0 10px;
    position:relative;
}
.lang_wrap ul li:hover,
.filter_wrap ul li:hover{
	background:#E9C598;
}	
.lang_wrap:hover ul,
.filter_wrap:hover ul{
	display:block;
}
.lang_wrap ul ul,
.lang_wrap:hover ul ul,
.filter_wrap ul ul,
.filter_wrap:hover ul ul{
    position:absolute;
    left:-9999px;
    -webkit-transform: translate(0, -20px);
    -o-transform: translate(0, -20px);
    transform: translate(0, -20px);
}
.lang_wrap ul li:hover ul,
.filter_wrap ul li:hover ul{
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);/**/
    -webkit-transition: -webkit-transform 0.3s ease-out ; 
    -o-transition: -webkit-transform 0.3s ease-out ; 
    transition: -webkit-transform 0.3s ease-out ;
    left:100%;
    top:0;
}
#start_lorem_wrap{
	float:left;  
	height:29px;
	width:31px;
	padding:0;
	margin-left:5px;
	position:relative;
	border-radius:3px;
	background-image: url(../img/start_lorem.png), -o-linear-gradient(top, #cfb697, #856641);
	background-image: url(../img/start_lorem.png), linear-gradient(to bottom, #cfb697, #856641);
	background-position: 0 0, 0 0;
	background-repeat: no-repeat, no-repeat;
	box-shadow: inset 0px 0 5px 0px #fff; 
	border:1px solid #664929;
	font:  13px/29px "Myriad pro", arial, sans-serif;
	cursor:pointer;
}
#start_lorem_wrap.on{
	background-image: url(../img/start_lorem.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	box-shadow: inset 0px 0 5px 0px #000; 
}
#start_lorem_wrap input{
	/*display:none;*/
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}